@media (max-width: 768px){
    html{
        font-size: 93.75%;
    }
}

@media (max-width: 540px){
    html{
        font-size: 87.5%;
    }
}

@media (max-width: 360px){
    html{
        font-size: 81.25%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html, body {
    height: 100%;
}

body {
    background-image: url("/assets/images/bg.webp");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

header, footer {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}

/* Header */
#headerbox {
    width: 100%;
    display: flex;
    background-color: #000000;
    justify-content: center;
    text-align: center;
}

.headertext {
    color: #ffffff;
    font-size: 0.9375rem;
    margin: 0.9375rem 0;
    padding: 0 12px;
    font-family: 'Open Sans', sans-serif;
}

/* Main */
.firstsession {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 730px;
    width: 100%;
    margin: 24px auto;
    padding: 0 15px;
}

.imgsecret {
    max-width: min(569px, 80vw);
    width: 100%;
}

.headline {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: min(1.875rem, 5vw);
    text-align: center;
    margin: 24px 0;
}

.espectadores {
    margin-top: 40px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: min(24px, 4vw);
}

.calltoaction01, .calltoaction02{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
    padding: 0 15px;
}

.calltoaction02{
    margin-bottom: 33px;
    margin-top: -8px;
}

.btn{
    display: inline-block;
    background-color: #db34c9;
    color: #fff!important;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: min(18px, 3.5vw);
    font-weight: 500;
    box-shadow: 4px 5px 15px rgb(0 0 0 / 0.3);
    text-shadow: 2px 2px 3px rgb(0 0 0 / 0.2);
    margin-bottom: -15px;
}

.bandeiras {
    height: min(27px, 5.7vw);
    margin: 0px 5px;
    margin-bottom: -30px;
}

.add-to-cart {
    display: none;
}

.fb-comments {
    max-width: min(43.75rem, 100vw);
    background-color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    border: 1px solid #e9ebee;
    border-radius: 12px;
    padding: 0 10px;
    color: #4267b2;
}

.fb-comments-header {
    padding: 5px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #e9ebee;
}

.fb-comments-header span {
    color: #000;
    font-weight: 700;
    font-size: 12px;
}

.fb-comments-footer {
    padding: 5px 0 7px 0;
    margin-top: 10px;
    border-top: 1px solid #e9ebee;
    display: flex;
    justify-content: center;
}

.fb-comments-footer span {
    color: #555;
    font-weight: 700;
    font-size: 12px;
}

.fb-comments-comment {
    border: none;
    padding: 0;
    margin: 2.5px 0;
    width: 100%;
}

.fb-comments-reply-wrapper {
    margin: 2.5px 0;
    margin-left: min(2.5rem, 8vw);
    border-left: 1px dotted #e9ebee;
    padding-left: 5px;
}

tr,
td {
    border: none;
    margin: 0;
}

td {
    padding: 0px;
}

tr {
    padding: 2.5px 0;
}

.fb-comments-comment-img {
    vertical-align: top;
    width: 40px;
    padding-right: 5px;
}

.fb-comments-comment-img img {
    max-width: 40px;
    border-radius: 25px;
}

.fb-comments-comment-name {
    font-size: 13px;
}

.fb-comments-comment-name name {
    color: #365899;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    cursor: hand;
}

.fb-comments-comment-name name:hover {
    text-decoration: underline;
}

.fb-comments-comment-name occupation {
    color: #90949c;
}

.fb-comments-comment-text marca {
    color: #4267b2;
    cursor: pointer;
}

.fb-comments-comment-text marca:hover {
    text-decoration: underline;
}

.fb-comments-comment-text {
    font-size: 14px;
    color: #000;
    border-radius: 21px;
    background-color: #eaebef;
    padding: 9px 18px;
}

.fb-comments-comment-actions like {
    padding-left: 10px;
}

.fb-comments-comment-actions like,
.fb-comments-comment-actions reply {
    font-size: 12px;
    color: #4267b2;
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
}

.fb-comments-comment-actions like.liked {
    color: #90949c;
}

.fb-comments-comment-actions like:hover,
.fb-comments-comment-actions reply:hover {
    text-decoration: underline;
}

.fb-comments-comment-actions emojis {
    font-size: 13px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-top: -10px;
    display: flex;
    justify-content: start;
    float: right;
    background-color: #fff;
    border: solid #eaebef;
    border-radius: 19px;
}

.fb-comments-comment-actions likes {
    font-size: 13px;
    float: right;
    padding-left: 4px;
}



.fb-comments-comment-actions date {
    font-size: 0.75em;
    color: #90949c;
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
}

.fb-comments-comment-actions date:hover {
    text-decoration: underline;
}

.fb-comments-loadmore {
    background: #4080ff;
    border: 1px solid #4080ff;
    border-radius: 3px;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    padding: 0.875em;
    text-shadow: none;
    width: 100%;
    font-weight: 700;
    cursor: hand;
    cursor: pointer;
}

.fb-reply-input {
    border: 1px solid lightgrey;
    border-radius: 3px;
    width: 100%;
    padding: 5px 7.5px;
    font-size: 0.75em;
    color: #000;
    outline: none;
}

.fb-reply-input:hover,
.fb-reply-button:hover {
    outline: none;
}

.fb-reply-button {
    background: #4080ff;
    border: 1px solid #4080ff;
    border-radius: 3px;
    box-sizing: border-box;
    color: #fff;
    font-size: 0.75em;
    padding: 5px 7.5px;
    text-shadow: none;
    width: 100%;
    font-weight: 700;
    cursor: hand;
    cursor: pointer;
    outline: none;
}

.footerbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    justify-content: center;
    padding: 10px 0px;
    gap: 10px;
}

.footer {
    color: #ffffff;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    padding: 0 6px;
}

.footer:hover {
    text-decoration: underline;
    color: #ffffff;
}

.warning {
    max-width: 580px;
    padding: 0 15px;
    color: #ffffff;
    font-weight: 300;
    font-size: min(0.875rem, 5vw);
    text-align: center;
}